

{% if btn %}
  <a href="{{ btn.details.url }}" target="{{ btn.details.target | default("_self") }}"
    class="btn {{ "btn--" ~ btn.type }}">{{ btn.details.title }}</a>

{% elseif link %}
  <a href="{{ link.details.url }}" class="link {{ "link--" ~ link.type }}"
    target="{{ link.details.target | default("_self") }}">{{ link.details.title }}
    <svg class="icon-arrow" viewBox="0 0 24 24">
      <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
    </svg>
  </a>
{% endif %}

